body {
    font-family: "Open Sans", sans-serif;
    background-color: burlywood;
}

h1, h2, h3 {
    font-family: "Helvetica", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF
}

.site-footer {
    background-image: linear-gradient(yellowgreen,chocolate);
    padding: 20px 0;;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(slategrey,burlywood);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-image: linear-gradient(chocolate,yellowgreen);
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
    background-color: rgba(199, 137, 22, 0.5);
}

.carousel {
    border: solid chocolate;
}

#accordion .card-header:hover {
    cursor: pointer;
}

